#dream {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(30, 1fr);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  --oscillation-height: 5vh;
  animation-name: dreamWithOscillation;
  animation-duration: 60000ms;
  z-index: -1000;
}

#dream a{
  grid-column: span 1;
  grid-row: span 1;
  color: #CCC; /*rgb(100, 40, 25); /*rgb(116, 25, 168)*/
  font-weight: 900;
  text-decoration: none;
  font-size: 15px;
}

@keyframes dream {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-100vw);
}
}

@keyframes dreamWithOscillation {
0% {
  transform: translateX(00);
}
5% {
  transform: translate3d(-5vw, calc(0.5 * var(--oscillation-height)), 0);
}
10% {
  transform: translate3d(-10vw, var(--oscillation-height), 0);
}
15% {
  transform: translate3d(-15vw, calc(0.5 * var(--oscillation-height)), 0);
}
20% {
  transform: translate3d(-20vw, 0vh, 0);
}
25% {
  transform: translate3d(-25vw, calc(0.5 * var(--oscillation-height)), 0);
}
30% {
  transform: translate3d(-30vw, var(--oscillation-height), 0);
}
35% {
  transform: translate3d(-35vw, calc(0.5 * var(--oscillation-height)), 0);
}
40% {
  transform: translate3d(-40vw, 0vh, 0);
}
45% {
  transform: translate3d(-45vw, calc(0.5 * var(--oscillation-height)), 0);
}
50% {
  transform: translate3d(-50vw, var(--oscillation-height), 0);
}
55% {
  transform: translate3d(-55vw, calc(0.5 * var(--oscillation-height)), 0);
}
60% {
  transform: translate3d(-60vw, 0vh, 0);
}
65% {
  transform: translate3d(-65vw, calc(0.5 * var(--oscillation-height)), 0);
}
70% {
  transform: translate3d(-70vw, var(--oscillation-height), 0);
}
75% {
  transform: translate3d(-75vw, calc(0.5 * var(--oscillation-height)), 0);
}
80% {
  transform: translate3d(-80vw, 0vh, 0);
}
85% {
  transform: translate3d(-85vw, calc(0.5 * var(--oscillation-height)), 0);
}
90% {
  transform: translate3d(-90vw, var(--oscillation-height), 0);
}
95% {
  transform: translate3d(-95vw, calc(0.5 * var(--oscillation-height)), 0);
}
100% {
  transform: translate3d(-100vw, 0vh, 0);
}
}