@import '../vars';

#root > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 125%;
  padding: 2%;
  margin-top: 2%;
  outline: 1px solid #222;
  background-color: $background-color;
}